
{% liquid 
assign path = vite | replace: '~/', '../' | replace: '@/', '../'
assign file_name = path | split: '/' | last
assign name = file_name | split: '.' | first
%}

{% if slides == nil %}
    {% assign slides = false %}
{% endif %}

{% if counter == nil %}
    {% assign counter = false %}
{% endif %}

{% if test == nil %}
    {% assign test = false %}
{% endif %}

{% comment %} create root document {% endcomment %}   
<div data-reactprops='{ "slides": {{ slides }}, "counter": {{ counter }}, "test": {{ test }} }' class='{{ name | capitalize }}' ></div>

{% render 'vite-tag' with vite %}
