
{% liquid 
assign path = vite | replace: '~/', '../' | replace: '@/', '../'
assign file_name = path | split: '/' | last
assign name = file_name | split: '.' | first
%}

{% comment %} create root document {% endcomment %}   
<div data-props='{ "slides": {{ slides }} }' id='{{ name | capitalize }}' ></div>

{% render 'vite-tag' with vite %}
